@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Lora:ital,wght@0,400..700;1,400..700&family=Lugrasimo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan+SC&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
}

/* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #878787;
} */

html {
    scroll-behavior: smooth;
}